{{extend 'layout.html'}}

<div class="sombra">
  <h1>Sobre Isa</h1>
</div>

<div class="sombra">

<p>Isa es un sistema de gestion para multiples eventos, que nacio del cansancio de adaptar una aplicacion especifica para estas actividades n veces. Si tienes un LUG, grupo de hackers, nerds, o solo te gusta amontonar gente para hacer cosas, sientete libre de usarlo puedes hacer muchas reuniones con el mismo sitio!, y la gente que siempre va se registra y los nuevos tambien!</p>
<p>Fue inspirado por Sofi, software para gestion de eventos escrito en django, pero con algunos features menos, que aun se encuentra en desarrollo</p>
<p>El nombre esta inspirado en mi hija, que se llama Isabella.</p>
<p>Habemos participado dos personas en el desarrollo de esta sencilla aplicacion:</p>
<ul>
<li>Marco Mansilla - marco@saltalug.org.ar</li>
<li>Matias Novoa - mattgaviota@saltalug.org.ar</li>
</ul>
<h4>Sitio oficial</h4>
Las fuentes de Isa y mas informacion pueden encontrarse en:

https://github.com/316/isa

para comentarios, contribuciones, issues o lo que fuere contactar a Matias Novoa
<h4>Licencia</h4>
<p>Esta aplicacion es software libre y se distribuye bajo de las condiciones de la <a href="http://www.gnu.org/copyleft/gpl.html">licencia publica general (GPL)</a>, se entrega como esta y sin ninguna garantia de nada, demas esta decir que es una aplicacion gratuita.</p>
</div>
